*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6edea;
  color: #000;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* START HEADER */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #f6edea;
  overflow: hidden;
}

/* Start Navigation */
.nav {
  padding: 1rem 10rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-family: "Lora", serif;
  font-size: 32px;
  font-weight: 600;
}

.keranjang-mobile {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  font-weight: 600;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.menu-toggle {
  display: none;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .nav-item:not(:last-child) {
    margin-right: -0.5rem;
  }

  .logo {
    margin-right: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .navigation {
    width: 100%;
    margin: 0 4rem;
  }

  .nav-list {
    position: absolute;
    right: 0;
    top: 0;
    width: 43%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: center; */
    background-color: #e1d3ce;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  .nav-list.slide {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
  }

  .nav-link.icon {
    display: none;
  }

  .keranjang-mobile {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    padding-left: 5.5rem;
    position: relative;
    z-index: 100;
  }

  .menu-toggle input {
    position: absolute;
    width: 28px;
    height: 28px;
    right: 0;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(50, 50, 50);
    border-radius: 3px;
    transition: all 500ms ease-in-out;
  }

  /* Hambuger Menu/Menu Toggle Animation */
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }

  .menu-toggle span:last-child {
    transform-origin: 0 100%;
  }

  .menu-toggle input:checked ~ span:nth-child(2) {
    background-color: #000;
    transform: rotate(45deg) translate(-1px, -1px);
  }

  .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }

  .menu-toggle input:checked ~ span:nth-child(4) {
    background-color: #000;
    transform: rotate(-45deg) translate(-1px, 0);
  }
}

/* End Navigation */

/* Start Hero */
.hero-content {
  margin: 10% 15rem;
}

.hero-content h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 48px;
}

.hero-content p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

.hero-content .btn {
  display: inline-block;
  background-color: #e1d3ce;
  padding: 9px 36px;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  transition: all 300ms;
}

.hero-content .btn:hover {
  background-color: #000;
  color: #e1d3ce;
  transition: all 300ms;
}

.header .hero-img {
  position: absolute;
  bottom: 0;
  right: 10rem;
  object-fit: contain;
}

.header .hero-img-cut {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero-content {
    position: absolute;
    left: -13%;
    top: 20%;
  }
  .hero-content h2 {
    font-size: 36px;
  }
  .hero-content p {
    font-size: 12px;
  }
  .hero-content .btn {
    padding: 6px 27px;
    font-size: 12px;
  }
  .header .hero-img {
    right: 4rem;
    bottom: 0;
    height: 32rem;
  }
}

@media screen and (max-width: 576px) {
  .hero-content {
    position: absolute;
    left: -19%;
    top: 20%;
  }
  .hero-content h2 {
    font-size: 40px;
  }
  .hero-content p {
    font-size: 12px;
  }
  .hero-content .btn {
    padding: 6px 27px;
    font-size: 12px;
  }
  .header .hero-img {
    display: none;
  }
  .header .hero-img-cut {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20rem;
  }
}
/* End Hero */
/* END HEADER */

/* START MAIN */
/* Start Advert */
.section {
  padding: 4rem 10rem 2rem 10rem;
}

.advert-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  overflow-x: hidden;
}

.advert-box {
  position: relative;
  color: #fff;
  height: 27rem;
  border-radius: 1.6rem;
  padding: 1.6rem;
  overflow: hidden;
  z-index: 1;
}

.advert-box img {
  position: absolute;
  bottom: 0;
  left: -20%;
  height: 100%;
  width: 35rem;
  z-index: -1;
}

.advert-box:nth-child(1) {
  background-color: #f5c5d1;
}
.advert-box:nth-child(2) {
  background-color: #a1d1df;
}

.advert-box .dotted {
  position: relative;
  height: 100%;
  border: 2px dashed #f1f1f1;
  border-radius: 1rem;
}

.advert-box .content {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}

.advert-box .content h2,
.advert-box .content h4 {
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.advert-box .content h2 {
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.advert-box .content h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 4rem 4rem 2rem 4rem;
  }
  .advert-center {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
    gap: 2rem;
  }
  .advert-box {
    height: 20rem;
  }
  .advert-box .content {
    top: 60%;
    left: 20%;
  }
}

@media screen and (max-width: 576px) {
  .advert-center {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
  .advert-box .content {
    left: 40%;
  }
}
/* End Advert */

/* Start Special Ied */
.title {
  margin: 2rem 0;
}

.title h2 {
  font-family: "Lora", serif;
  font-size: 42px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #000;
  width: 100%;
  height: 0.4rem;
  z-index: 1;
}

.product-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 6rem 1.5rem;
}

.product {
  height: 30rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}
.product:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.product-header {
  position: relative;
  background-color: #e1d3ce;
  transition: all 300ms ease-in-out;
}

.product-header img {
  margin-bottom: -4px;
}

.product-footer {
  padding: 2rem 1.6rem 1.6rem 1.6rem;
}

.product-footer h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.product-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem;
}

.product-footer ul li img {
  width: 20px;
}

.product:hover .product-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 768px) {
  .product-center {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
    gap: 6rem 2rem;
  }
  .product {
    height: 25rem;
  }
  .product-footer ul {
    margin: 0 2rem;
  }
}
/* End Special Ied */
/* END MAIN */
